<config template="android (default)" platform="android">Created: Wed Dec 10 11:11:21 2014
By: lukeohara
Using Template: android (default)

&lt;description to go here><option fromDef="true" name="android-icon-dir" value=""/>
    <option fromDef="true" name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option fromDef="true" name="android-icon-gallery" value=""/>
    <option fromDef="true" name="android-icon-nonstandard" value=""/>
    <option fromDef="true" name="android-external-res" value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eFacebook/third-party/facebook-android-sdk/facebook/res;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/res;../../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/res"/>
    <option fromDef="true" name="android-external-assets" value=""/>
    <option fromDef="true" name="android-install-location" value="1"/>
    <option fromDef="true" name="android-pkgname" value="com.lukeohara.flappyBeard"/>
    <option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="flappyBeard"/>
    <option fromDef="true" name="caption" value="flappyBeard"/>
    <option fromDef="true" name="provider" value="lukeohara"/>
    <option fromDef="true" name="copyright" value="(C) lukeohara"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="android-manifest" value=""/>
    <option fromDef="true" name="android-custom-activity" value=""/>
    <option fromDef="true" name="android-extra-manifest" value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/ExtraManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/ExtraManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/Fortumo/extras.manifest.txt"/>
    <option fromDef="true" name="android-extra-application-manifest" value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eFacebook/source/android/extra_app_manifest.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAmazonInAppPurchasing/source/android/AmazonInAppPurchasingManifestSnippet.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidMarketBilling/s3eAndroidMarketBillingManifest.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/ExtraAppManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/ExtraAppManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/Fortumo/extras.application.txt"/>
    <option fromDef="false" name="android-extra-strings" value="(app_id,fb_app_id)"/>
    <option fromDef="true" name="android-supports-gl-texture" value=""/>
    <option fromDef="true" name="android-unsigned" value=""/>
    <option fromDef="true" name="android-tm" value=""/>
</config>
