<config template="iphone (default)" platform="iphone">Created: Wed Dec 10 11:11:23 2014
By: lukeohara
Using Template: iphone (default)

&lt;description to go here><option fromDef="true" name="iphone-application-type" value="&quot;universal&quot;"/>
    <option fromDef="true" name="iphone-appid" value="com.lukeohara.flappyBeard"/>
    <option fromDef="true" name="iphone-show-status-bar" value=""/>
    <option fromDef="true" name="iphone-uiviewcontroller-based-status-bar" value=""/>
    <option fromDef="true" name="iphone-minimum-ios-version" value="4.3"/>
    <option fromDef="true" name="iphone-icon-dir" value=""/>
    <option fromDef="true" name="iphone-icon-extra" value=""/>
    <option fromDef="true" name="iphone-prerendered-icon" value=""/>
    <option fromDef="true" name="iphone-skip-icon-generation" value=""/>
    <option fromDef="true" name="iphone-launch-dir" value=""/>
    <option fromDef="true" name="iphone-launch-storyboard" value=""/>
    <option fromDef="true" name="iphone-launch-extra" value=""/>
    <option fromDef="true" name="iphone-skip-launch-generation" value=""/>
    <option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="flappyBeard"/>
    <option fromDef="true" name="caption" value="flappyBeard"/>
    <option fromDef="true" name="provider" value="lukeohara"/>
    <option fromDef="true" name="copyright" value="(C) lukeohara"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="iphone-region" value="English"/>
    <option fromDef="true" name="iphone-info-plist" value=""/>
    <option fromDef="true" name="iphone-persistent-wifi" value=""/>
    <option fromDef="true" name="iphone-backgroundmode-audio" value=""/>
    <option fromDef="true" name="iphone-app-fonts" value=""/>
    <option fromDef="true" name="iphone-bundle-localisations" value=""/>
    <option fromDef="true" name="iphone-bundle-url-name" value=""/>
    <option fromDef="true" name="iphone-bundle-url-schemes" value=""/>
    <option fromDef="true" name="itunes-artwork" value=""/>
    <option fromDef="true" name="iphone-nosign" value=""/>
    <option fromDef="true" name="iphone-sign-for-distribution" value=""/>
    <option fromDef="true" name="iphone-provisioning-profile" value=""/>
    <option fromDef="true" name="iphone-signing-identity" value=""/>
</config>
